table.scrolldown {
   border-spacing: 0;
   border: 1px solid grey;
   /* Comentario */
 }

table.scrolldown tbody, table.scrolldown thead {
   display: block;
}   

table.scrolldown tbody {
   height: 400px;
   overflow-y: scroll;
   overflow-x: auto;
}

tbody td, thead th {
   width : 200px;
   text-align:center;
}
td {
   text-align:center;
}

input {
   box-sizing: border-box;
   width: 240px;
   height: 48px;
   margin: 5px;
   padding: 5px;
   border: solid 2px lightgrey;
   border-radius: 5px;
   outline: none;
 }

input[pattern]:focus:invalid  {
   border-color: red;
}
input[pattern]:focus:valid  {
   border-color: blue;
}