#titulo{
    font-size: 70px;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#lema{
    color: rgb(92, 91, 91);
    font-family:Arial, Helvetica, sans-serif;
}

#bIniciarSesion{
    color: rgb(241, 255, 240);
}